<!DOCTYPE html>
<html lang='en'>
    
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    
    <ul>
        {% if favorites_kelime %}
        <h2>Favori Kelimeler</h2>
            <br>
            {% for favorite in favorites_kelime %}
                <li>
                    {{ favorite.number }} - {{ favorite.word }}: {{favorite.meaning}} 
                </li>
            {% endfor %}
        {% endif %}

    </ul>
    <script>
        window.onload = function() {
            window.print();
    };
    </script>
    </body>

</html>

