<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Selamun aleyküm</p>
    <p>VeAleyküm Selam </p>
    {% if user.is_authenticated %}

    {% else %}
    {% endif %}
    <p>
        <a href="{% url 'register'%}">Register</a>
    </p>
    <p>
        <a href="{% url 'login'%}">Login</a>
    </p>
    <p>
        <a href="{% url 'logout'%}">logout</a>
    </p>
</body>
</html>