<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Selamun aleyküm</p>
    <p>VeAleyküm Selam </p>
    <p><a href="{% url 'lugat' %}"> Lugat </a></p>
    <p><a href="{% url 'hadis_deryasi' %}"> Hadis Deryası </a></p>
    {% if user.is_authenticated %}
    <p>
        <form method = "POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    </p>
    <p>
        <a href= "{% url 'profile' %}"> your profile  </a>
    </p>
    {% else %}
    <p>
        <a href="{% url 'register' %}">Register</a>
    </p>
    <p>
        <a href="{% url 'login' %}">Login</a>
    </p>
    {% endif %}
    
    
</body>
</html>