<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <style>
        /* Checkbox'ın boyutunu artırmak için örnek CSS */
        .custom-checkbox {
            transform: scale(1.5); /* Boyutu 1.5 katına çıkarır */
        }
    </style>
</head>

<body>
    <a href="{% url 'home' %}"> Anasayfa</a>
    <h1>Lugat</h1>
    <form action="{% url 'lugat' %}" method="GET"> 
        <input type="text" name="query" placeholder="Aramak istediğiniz kelimeyi girin">
        <button type="submit">Ara</button>
    </form>
    <br>
    <table border="1">
        {% if Sqlserverconn %}
        <tr>
            <td>favori</td>
            <td>kelime</td>
            <td>açıklama</td>
        </tr>
        {% endif %}
        {% for datadisplay in Sqlserverconn %}
        <tr>
            <td>
                <form id="favoriForm">
                    {% csrf_token %}
                    <input type="hidden" name="favori_id" value="{{datadisplay.kid}}">
                    <input type="hidden" name="word" value="{{datadisplay.diger}},{{datadisplay.diger2}},{{datadisplay.koku}}{{datadisplay.kelime}}">
                    <input type="hidden" name="meaning" value="{{datadisplay.isim}}">
                    <button type="button" onclick="addFavorite()">Add to Favorites</button>
                </form>
                
                <script>
                function addFavorite() {
                    var formData = $('#favoriForm').serialize();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'lugat' %}",
                        data: formData,
                        success: function(response) {
                            alert('Favori başarıyla eklendi!');
                            // İşlem başarılı olduğunda gerekirse ekstra işlemler yapılabilir
                        },
                        error: function(xhr, status, error) {
                            alert('Bir hata oluştu, lütfen tekrar deneyin.');
                        }
                    });
                }
                </script>
            </td>
            <td> 
                {{datadisplay.diger}} 
                {% if datadisplay.diger2 %} 
                <span>
                    , {{datadisplay.diger2}}
                </span> 
                {% endif %}
                {% if datadisplay.koku %} 
                <span>
                    , {{datadisplay.koku}}
                </span> 
                {% endif %}
                {% if datadisplay.kelime %} 
                <span>
                    , {{datadisplay.kelime}}
                </span> 
                {% endif %}
            </td>
            <td> {{datadisplay.isim}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
